<div>
    <h1>Login</h1>
    {{#if error}}
        <div>
            <p>Failed to login. Please try again.</p>
            {{errMessage}}
        </div>
    {{/if}}

    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/registration">Or sign up here</a>
</div>
